.mainAutenticacao {
  width: 85%;
  margin-left: 15px;
  /* margin-top: 15px; */
}
.AutenticacaoUl{
    margin: 25px auto;
}
.AutenticacaoContent{
  width: 100%;
  margin-left: 15px;
  margin-top: 25px;
}
