<div class="container">
    <div class="row">
        <strong class="col-md-8 col-md-offset-2"> == Após Reestruturação == </strong>
        <app-message-input></app-message-input>
        <app-message-list></app-message-list>
        <strong class="col-md-8 col-md-offset-2"> == Após Reestruturação == </strong>
        <!-- <app-message [messageVarClasse]="messageBinding"></app-message>
            <app-message [inputMessage]="messageBindingAlias"></app-message> -->
    </div>
    <!-- <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="card">
                <div class="body-card">
                    <button (click)="onMudaMostrarElemento()" class="btn btn-success">Click aqui Novo Estudo</button>
                    {{mostrarElemento}}
                    <p *ngIf="mostrarElemento">
                        {{mostrarElemento ? 'p Mostrado|' + mostrarElemento : 'p Removido| + mostrarElemento'}}
                        <br>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <label>Atividade 1:</label>
            <div class="alert alert-secondary" role="alert">
                <form>
                    <div class="form-group">
                        <label for="age">Digite a idade:</label>
                        <input type="text" class="form-control" id="age" (keypress)="onMudaIdade($event)">
                    </div>
                    <div class="form-group">
                        <div *ngIf="age > 17; then firstThenBlock else firstElseBlock">
                        </div>
                        <ng-template #firstThenBlock>
                            <div class="alert alert-success" role="alert">
                                <b>Then Block: Apto para Dirigir</b>
                            </div>
                        </ng-template>
                        <ng-template #firstElseBlock>
                            <div class="alert alert-warning" role="alert">
                                <b>Else Block: Não Apto para Dirigir</b>
                            </div>
                        </ng-template>
                    </div>
                </form>
            </div>
        </div>
    </div> -->

    <!-- <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <label>Atividade 2:</label>
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="true" name="radio-stacked"
                    (click)="changeValue(true)" checked>
                <label class="custom-control-label" for="true">True</label>
                <input type="radio" class="custom-control-input" id="false" name="radio-stacked"
                    (click)="changeValue(false)">
                <label class="custom-control-label" for="false">False</label>
            </div>
            <div *ngIf="isValidRadio; then thenBlockRad else elseBlockRad">
            </div>
            <ng-template #thenBlockRad>
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <b class="card-title">Data é valida.</b>
                    </div>
                </div>
            </ng-template>
            <ng-template #elseBlockRad>
                <div class="card text-white bg-danger  mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <b class="card-title">Data é invalida.</b>
                    </div>
                </div>
            </ng-template>
        </div>
    </div> -->

    <!-- <div class="row mt-4">
        <div class="col-md-8 col-md-offset-2">
            <label>Atividade 3:</label>
            <div class="alert alert-secondary" role="alert">
            
            </div>
        </div>
    </div> -->
</div>