<article class="panel panel-default" 
[ngStyle]="{backgroundColor:color}" 
(mouseenter)="color = 'green'" 
(mouseleave)="color = 'blue'" 
(click)="color = 'yellow'" 
(dblclick)="onMudaStyle()">
  <div class="panel-body">
    <!-- {{ message.content }} -->
    {{messageVarClasse.content}}
    {{messageVarClasseAlias.content}}
  </div>
  <footer class="panel-footer">
    <div class="author">
      <!-- {{ message.author }} -->
      {{messageVarClasse.username}}
      {{messageVarClasseAlias.username}}
    </div>
    <div class="config">
      <a href="#" (click)="onEdit()">Edit</a>
      <a href="#">Delete</a>
    </div>
  </footer>
</article>