<!-- <div class="row">
  <div class="col-md-6">
      <div class="form-group">
          <input type="text" class="form-control"  [(ngModel)]="message.content">
        </div>
  </div>
  <div class="col-md-6">
      <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="message.author">
        </div>
  </div>
</div> -->
<article class="panel panel-default">
  <div class="panel-body">
    <!-- {{ message.content }} -->
    {{messageVarClasse.content}}
    {{messageVarClasseAlias.content}}
  </div>
  <footer class="panel-footer">
    <div class="author">
      <!-- {{ message.author }} -->
      {{messageVarClasse.username}}
      {{messageVarClasseAlias.username}}
    </div>
    <div class="config">
      <a href="#" (click)="onEdit()">Edit</a>
      <a href="#">Delete</a>
    </div>
  </footer>
</article>